<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beauty Discovery Tool</title>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
  <script language="javascript" type="text/javascript" src="../static/js/p5.js"></script>
  <script language="javascript" src="../static/js/p5.dom.js"></script>
  <script language="javascript" src="../static/js/p5.sound.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src='../static/js/p5.js'></script>
</head>

<body>

  <div class="container-fluid">
    <!-- Top Row Starts -->
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Beauty Discovery Tool</h1>
        <p>The premiere tool for makeup discovery</p>
        <button class="btn btn-dark" id="sound">Click Here for Instructions</button>
      </div>
    </div>
    <!-- Top Row Begins -->
    <div class="row">
      <div class="col-md-3">
        <!--Dropdown menus start  -->
        <!-- NOTE: COMMENTING OUT CATEGORY DUE TO REDUNDANCY SINCE WE HAVE THE FACE INTERACTION -->
        <!-- <div class="well">
          <h5>Category:</h5>
          <select id="category" onchange="optionChanged(this.value)"></select>
        </div> -->
        <div class="well">
          <h5>Product: </h5>
          <select id="product" class="change" onchange="optionChanged(this.value)"></select>
        </div>
        <!-- Dropdown menus end -->
      </div>
      <!-- Product Column Starts -->
      <div class="col-md-3">
        <div id="productinfo">
          <div id="product_name">
            <!-- <h3>Product:  </h3> -->
          </div>
        </div>
      </div>
      <!-- Product Column Ends -->
      <!-- Product Rating Visualization Starts -->
      <div class="col-md-3">
        <div id="productviz">
          <div id="product_rating">
            <!-- <h3>Product Rating: </h3>  -->
          </div>
        </div>
      </div>
      <!-- Product Visualization Ends -->
      <!-- Face Column Starts -->
      <div class="col-md-3">
        <div class="float-right" id="face">
          <!-- Image size: 587 width x 419 height -->
          <img src="../static/images/face.png" alt="" width="350" usemap="#facemap" href="#face" class="face"> <!-- onclick="changeProduct('face')"> -->
          <map name="facemap">
            <div class="blush">
              <area  shape="circle" coords="260,185,25" href="#blush" alt="blush"> <!--//onclick="changeProduct('blush')"> -->
              <area shape="circle" coords="100,185,25" href="#blush" alt="blush"> <!-- onclick="changeProduct('blush')"> -->
            </div>
            <div class="eyeshadow">
              <area  alt="eyeshadow" id="right" href="#eyeshadow" shape="poly" coords="222,116,230,102,245,90,265,83,286,84,318,100,312,109,290,98,259,100,222,116 "> <!--onclick="changeProduct('eyeshadow')"> --> 
              <area alt="eyeshadow" id="left" href="#eyeshadow" shape="poly" coords="133,116,113,106,78,97,45,105,38,104,65,80,89,80,90,81,97,83,105,86,133,116"> <!-- onclick="changeProduct('eyeshadow')"> --> 
            </div>
            <div class="eyeliner">
              <area  alt="eyeliner" id="right" href="#eyeliner" shape="poly" coords="220,118,259,100,275,100,295,100,305,105,315,110,300,115,275,122,259,124,222,118 "> <!-- onclick="changeProduct('eyeliner')"> --> 
              <area alt="eyeliner" id="left" href="#eyeliner" shape="poly" coords="131,118,113,106,78,97,42,107,65,120,89,126,105,124,133,118"> <!-- onclick="changeProduct('eyeliner')"> --> 
            </div>
            <div class="foundation">
              <area shape="rect" coords="0,419,587,0" href="#foundation" alt="foundation"> <!-- onclick="changeProduct('foundation')"> --> 
          </div>
          </map>
        </div>
      </div>
      <!-- Face Column Ends -->
    </div>
    <!-- Top Row Ends -->
    <!-- Bottom Row Begins -->
    <div class="row">
      <div class="col-md-6">
        <div id="top_price"></div>
      </div>
      <div class="col-md-6">
        <div id="top_rating"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/top10_price.js"></script>
  <script src="../static/js/top10_rating.js"></script>
  <script src="../static/js/p5.speech.js"></script>
  <script src="../static/js/makeuppage.js"></script>
  <script src="../static/js/sketch.js"></script>
</body>

</html>