<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beauty Discovery Tool</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <div class="container">
    <!-- Top Row Starts -->
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Beauty Discovery Tool</h1>
        <p>The premiere tool for makeup discovery</p>
      </div>
    </div>
    <!-- Top Row Begins -->
    <div class="row">
      <div class="col-md-2">
        <!--Dropdown menus start  -->
        <div class="well">
          <h5>Category:</h5>
          <select id="category" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="well">
          <h5>Product:</h5>
          <select id="product" onchange="optionChanged(this.value)"></select>
        </div>
        <!-- Dropdown menus end -->
      </div>
      <!-- Product Column Starts -->
      <div class="col-md-3">
        <div id="productinfo">
          <div id="product_name">
            <h3>Product: </h3>
          </div>
        </div>
      </div>
      <!-- Product Column Ends -->
      <!-- Product Rating Visualization Starts -->
      <div class="col-md-3">
        <div id="productviz">
          <div id="product_rating">
            <h3>Product Rating: </h3>
          </div>
        </div>
      </div>
      <!-- Product Visualization Ends -->
      <!-- Face Column Starts -->
      <div class="col-md-4">
        <div class="float-right" id="face">
          <!-- Image size: 587 width x 419 height -->
          <img src="../static/images/face.png" alt="" width="350" usemap="#facemap">
          <map name="facemap">
            <area shape="circle" coords="260,185,25" href="#blush" alt="blush">
            <area shape="circle" coords="100,185,25" href="#blush" alt="blush">
            <area  alt="eyeshadow" id="right" href="#eyeshadow" shape="poly" coords="222,116,230,102,245,90,265,83,286,84,318,100,312,109,290,98,259,100,222,116 ">
            <area alt="eyeshadow" id="left" href="#eyeshadow" shape="poly" coords="133,116,113,106,78,97,45,105,38,104,65,80,89,80,90,81,97,83,105,86,133,116">
            <area  alt="eyeliner" id="right" href="#eyeliner" shape="poly" coords="220,118,259,100,275,100,295,100,305,105,315,110,300,115,275,122,259,124,222,118 ">
            <area alt="eyeliner" id="left" href="#eyeliner" shape="poly" coords="131,118,113,106,78,97,42,107,65,120,89,126,105,124,133,118">
            <area shape="rect" coords="0,419,587,0" href="#foundation" alt="foundation">
            
          </map>
        </div>
      </div>
      <!-- Face Column Ends -->
    </div>
    <!-- Top Row Ends -->
    <!-- Bottom Row Begins -->
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/p5.speech.js"></script>
  <script src="../static/js/makeuppage.js"></script>
</body>

</html>